
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');
*{
  padding: 0px;
  margin: 0px;
}
h1{
  font-size: 50px;
  font-family: 'Dancing Script', cursive;
  text-align: center;
  margin-top: 90px
}
#alignments{
  width: fit-content;
  margin:auto;
}
body{
  background-color:rgb(149, 250, 194);
}
h2{
  font-family: 'Dancing Script', cursive;
  text-align: center;
  font-size: 30px;
}
#btn{
  padding-top:10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background: linear-gradient(white, rgb(192, 164, 240), rgb(150, 78, 244));
  font-family: 'Dancing Script', cursive;
  font-size: 30px;
}
#winner{
  background-color:rgb(192, 164, 240)
}